/* login styles */

.active {
    color: #ff3c3c !important;
    border-bottom: 2px solid #ff3c3c;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-google:hover {
    color: white;
    background-color: #d3271a;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}

.btn-facebook:hover {
    color: white;
    background-color: #14316f;
}

.active {
    color: #ff3c3c !important;
    border-bottom: 2px solid #ff3c3c
}

img {
    max-width: 480px;
}

input[type=file] {
    padding: 10px;
    background: #ebebeb;
}

label {
    font-size: 15px;
    font-weight: bold;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .example {
        background: red;
    }
    img {
        max-width: 180px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .example {
        background: green;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .example {
        background: blue;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .example {
        background: orange;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .example {
        background: pink;
    }
}


/*cart details style*/

.shopping-cart {
    margin: 77px 0 0 0;
    height: 600px;
    text-align: center;
}

/*update form manage*/

.form{
    margin: 0px 50%;
    width:150%;
}

.text{
    text-align: center;
}

.input{
    width:100%;
}

.bot{
    text-align: center;
}


/*fixed image height and width for thumbnail...change it for diffrent screen sizes*/
.pic-1{
    width: 200px;
    height: 400px;
}

.message_box{
	margin: 10px 0px;
	border: 1px solid #2b772e;
	text-align: center;
	font-weight: bold;
	color: #2b772e;
	}